<div class="container">
  <div class="container-careers">
    <div class="row">
      <div class="col-md-12">
        <div class="container-title"><p>Carreras Profesionales</p></div>
        <div class="container-content-one"><p>Dado que su inteligencia predominante es: LOGICO - MATEMATICO</p><p>Se le sugiere tomar una
          de las carreras profesionales de la siguiente lista:
        </p></div>
      </div>
    </div>

  <div class="row">
    <div class="col-md-12">
      <div class="container-content-two">
        <li>Lic. Economia</li>
        <li>Ing. Comercial</li>
        <li>Lic. Estadistica</li>
        <li>Lic. Auditoria</li>
        <li>Lic. Contabilidad</li>
      </div>
    </div>
  </div>

  </div>
</div>
