*{
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  background: #012d74;
  height: 100%;
  position: absolute;
  width: 100%;
}
form{
  width: 360px;
  text-align: center;
  display: grid;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
mat-label{
  color: white;
  font-size: 18px;
  font-weight: 400;
}

mat-error{
  color: #930c0c;
  font-size: 18px;
  font-weight: 500;
}
mat-placeholder-required mat-form-field-required-marker ng-tns-c69-1 ng-star-inserted{
  color: white;
}
h2{
  color: white;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  margin: 15px;
  padding: 5px;
  align-items: center;
}
.container-form{
  margin-bottom: 200px;
  border-radius: 45px;
  box-shadow: 1px 5px 14px 5px #00000091;
}

.date-form-content {
  display: flex !important;
}
