<div class="container">
  <div class="container-button">
    <div class="row">
      <div class="col-md-6 container-title">
        <p>
          La orientacion vocacional es un proceso que contribuye a identificar aquellas carreras afines de acuerdo al tipo de personalidad y objetivos que posee un individuo.
        </p>
      </div>
      <div class="col-md-6 container-img" style="background-image: url(#);">
        <div class="img" style="background-image: url(assets/Images/TestMain.png);"></div>
      </div>
    </div>
  </div>
</div>


