<div class="container">
  <div class="container-button">
    <div class="row">
      <div class="col-md-6">
        <span>
          La orientacion vocacional es un proceso que contribuye a identificar aquellas carreras afines de acuerdo al tipo de personalidad y objetivos que posee un individuo.
        </span>
      </div>
      <div class="col-md-6" style="background-image: url(#);">
        <div class="img" style="background-image: url(assets/Images/LogoMain.jpg);"></div>
      </div>
    </div>
  </div>
</div>


