<div class="container">

  <div class="container-take-test">

    <mat-card style="margin: 15px;">
      <mat-card-title>SECCION A - Habilidades Laborales</mat-card-title>
      <mat-card-actions>
        <mat-accordion class="example-headers-align" *ngFor="let itemQuestionsA of _modelQuestionsResult.sectionATypeA;let indexOfElement=index">
          <mat-expansion-panel style="margin: 15px;">
            <!-- expanded="true" -->
            <mat-expansion-panel-header>
              <mat-panel-title>{{itemQuestionsA.QUESTIONS}}</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card>
              <mat-card-content>

                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
                  <mat-radio-button class="example-radio-button" *ngFor="let answers of  itemQuestionsA.ANSWERS" [value]="answers" (click)="obtRadioButtonValue(answers, itemQuestionsA.ID_QUESTIONS, itemQuestionsA.ID_SECTION, 'A', 'A')">{{answers.ANSWERS}}</mat-radio-button>
                </mat-radio-group>


              </mat-card-content>
            </mat-card>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-actions>
    </mat-card>

    <mat-card style="margin: 15px;">
      <mat-card-title>SECCION B - Habilidades Laborales</mat-card-title>
      <mat-card-actions>
        <mat-accordion class="example-headers-align" *ngFor="let itemQuestionsB of _modelQuestionsResult.sectionBTypeA;let indexOfElement=index">
          <mat-expansion-panel style="margin: 15px;">
            <!-- expanded="true" -->
            <mat-expansion-panel-header>
              <mat-panel-title>{{itemQuestionsB.QUESTIONS}}</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card>
              <mat-card-content>

                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
                  <mat-radio-button class="example-radio-button" *ngFor="let itemAnswersB of itemQuestionsB.ANSWERS;" [value]="itemAnswersB" (click)="obtRadioButtonValue(itemAnswersB, itemQuestionsB.ID_QUESTIONS, itemQuestionsB.ID_SECTION, 'A', 'B')">{{itemAnswersB.ANSWERS}}</mat-radio-button>
                </mat-radio-group>

              </mat-card-content>
            </mat-card>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-actions>
    </mat-card>

    <mat-card style="margin: 15px;">
      <mat-card-title>SECCION C - Habilidades Laborales</mat-card-title>
      <mat-card-actions>
        <mat-accordion class="example-headers-align" *ngFor="let itemQuestionsC of _modelQuestionsResult.sectionCTypeA;let indexOfElement=index">
          <mat-expansion-panel style="margin: 15px;">
            <!-- expanded="true" -->
            <mat-expansion-panel-header>
              <mat-panel-title>{{itemQuestionsC.QUESTIONS}}</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card>
              <mat-card-content>

                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
                  <mat-radio-button class="example-radio-button" *ngFor="let itemAnswersC of itemQuestionsC.ANSWERS;" [value]="itemAnswersC" (click)="obtRadioButtonValue(itemAnswersC, itemQuestionsC.ID_QUESTIONS, itemQuestionsC.ID_SECTION, 'A', 'C')">{{itemAnswersC.ANSWERS}}</mat-radio-button>
                </mat-radio-group>

              </mat-card-content>
            </mat-card>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-actions>
    </mat-card>

    <mat-card style="margin: 15px;">
      <mat-card-title>SECCION D - Habilidades Laborales</mat-card-title>
      <mat-card-actions>
        <mat-accordion class="example-headers-align" *ngFor="let itemQuestionsD of _modelQuestionsResult.sectionDTypeA;let indexOfElement=index">
          <mat-expansion-panel style="margin: 15px;">
            <!-- expanded="true" -->
            <mat-expansion-panel-header>
              <mat-panel-title>{{itemQuestionsD.QUESTIONS}}</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card>
              <mat-card-content>

                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
                  <mat-radio-button class="example-radio-button" *ngFor="let itemAnswersD of itemQuestionsD.ANSWERS;" [value]="itemAnswersD" (click)="obtRadioButtonValue(itemAnswersD, itemQuestionsD.ID_QUESTIONS, itemQuestionsD.ID_SECTION, 'A', 'D')">{{itemAnswersD.ANSWERS}}</mat-radio-button>
                </mat-radio-group>

              </mat-card-content>
            </mat-card>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-actions>
    </mat-card>

    <mat-card style="margin: 15px;">
      <mat-card-title>SECCION E - Habilidades Laborales</mat-card-title>
      <mat-card-actions>
        <mat-accordion class="example-headers-align" *ngFor="let itemQuestionsE of _modelQuestionsResult.sectionETypeA;let indexOfElement=index">
          <mat-expansion-panel style="margin: 15px;">
            <!-- expanded="true" -->
            <mat-expansion-panel-header>
              <mat-panel-title>{{itemQuestionsE.QUESTIONS}}</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card>
              <mat-card-content>

                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
                  <mat-radio-button class="example-radio-button" *ngFor="let itemAnswersE of itemQuestionsE.ANSWERS;" [value]="itemAnswersE" (click)="obtRadioButtonValue(itemAnswersE, itemQuestionsE.ID_QUESTIONS, itemQuestionsE.ID_SECTION, 'A', 'E')">{{itemAnswersE.ANSWERS}}</mat-radio-button>
                </mat-radio-group>

              </mat-card-content>
            </mat-card>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-actions>
    </mat-card>

    <mat-card style="margin: 15px;">
      <mat-card-title>SECCION F - Habilidades Laborales</mat-card-title>
      <mat-card-actions>
        <mat-accordion class="example-headers-align" *ngFor="let itemQuestionsF of _modelQuestionsResult.sectionFTypeA;let indexOfElement=index">
          <mat-expansion-panel style="margin: 15px;">
            <!-- expanded="true" -->
            <mat-expansion-panel-header>
              <mat-panel-title>{{itemQuestionsF.QUESTIONS}}</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card>
              <mat-card-content>

                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
                  <mat-radio-button class="example-radio-button" *ngFor="let itemAnswersF of itemQuestionsF.ANSWERS;" [value]="itemAnswersF" (click)="obtRadioButtonValue(itemAnswersF, itemQuestionsF.ID_QUESTIONS, itemQuestionsF.ID_SECTION, 'A', 'F')">{{itemAnswersF.ANSWERS}}</mat-radio-button>
                </mat-radio-group>

              </mat-card-content>
            </mat-card>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-actions>
    </mat-card>

    <mat-card style="margin: 15px;">
      <mat-card-title>SECCION G - Habilidades Laborales</mat-card-title>
      <mat-card-actions>
        <mat-accordion class="example-headers-align" *ngFor="let itemQuestionsG of _modelQuestionsResult.sectionGTypeA;let indexOfElement=index">
          <mat-expansion-panel style="margin: 15px;">
            <!-- expanded="true" -->
            <mat-expansion-panel-header>
              <mat-panel-title>{{itemQuestionsG.QUESTIONS}}</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card>
              <mat-card-content>

                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
                  <mat-radio-button class="example-radio-button" *ngFor="let itemAnswersG of itemQuestionsG.ANSWERS;" [value]="itemAnswersG" (click)="obtRadioButtonValue(itemAnswersG, itemQuestionsG.ID_QUESTIONS, itemQuestionsG.ID_SECTION, 'A', 'G')">{{itemAnswersG.ANSWERS}}</mat-radio-button>
                </mat-radio-group>

              </mat-card-content>
            </mat-card>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-actions>
    </mat-card>

    <mat-card style="margin: 15px;">
      <mat-card-title>SECCION H - Habilidades Laborales</mat-card-title>
      <mat-card-actions>
        <mat-accordion class="example-headers-align" *ngFor="let itemQuestionsH of _modelQuestionsResult.sectionHTypeA;let indexOfElement=index">
          <mat-expansion-panel style="margin: 15px;">
            <!-- expanded="true" -->
            <mat-expansion-panel-header>
              <mat-panel-title>{{itemQuestionsH.QUESTIONS}}</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card>
              <mat-card-content>


                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
                  <mat-radio-button class="example-radio-button" *ngFor="let itemAnswersH of itemQuestionsH.ANSWERS;" [value]="itemAnswersH" (click)="obtRadioButtonValue(itemAnswersH, itemQuestionsH.ID_QUESTIONS, itemQuestionsH.ID_SECTION, 'A', 'H')">{{itemAnswersH.ANSWERS}}</mat-radio-button>
                </mat-radio-group>

              </mat-card-content>
            </mat-card>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-actions>
    </mat-card>



    <mat-card style="margin: 15px;">
      <mat-card-title>SECCION A - Interes Ocupacionales</mat-card-title>
      <mat-card-actions>
        <mat-accordion class="example-headers-align" *ngFor="let itemQuestionsA of _modelQuestionsResult.sectionATypeB;let indexOfElement=index">
          <mat-expansion-panel style="margin: 15px;">
            <!-- expanded="true" -->
            <mat-expansion-panel-header>
              <mat-panel-title>{{itemQuestionsA.QUESTIONS}}</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card>
              <mat-card-content>

                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
                  <mat-radio-button class="example-radio-button" *ngFor="let itemAnswersA of itemQuestionsA.ANSWERS;" [value]="itemAnswersA" (click)="obtRadioButtonValue(itemAnswersA, itemQuestionsA.ID_QUESTIONS, itemQuestionsA.ID_SECTION, 'B', 'A')">{{itemAnswersA.ANSWERS}}</mat-radio-button>
                </mat-radio-group>

              </mat-card-content>
            </mat-card>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-actions>
    </mat-card>

    <mat-card style="margin: 15px;">
      <mat-card-title>SECCION B - Interes Ocupacionales</mat-card-title>
      <mat-card-actions>
        <mat-accordion class="example-headers-align" *ngFor="let itemQuestionsB of _modelQuestionsResult.sectionBTypeB;let indexOfElement=index">
          <mat-expansion-panel style="margin: 15px;">
            <!-- expanded="true" -->
            <mat-expansion-panel-header>
              <mat-panel-title>{{itemQuestionsB.QUESTIONS}}</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card>
              <mat-card-content>

                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
                  <mat-radio-button class="example-radio-button" *ngFor="let itemAnswersB of itemQuestionsB.ANSWERS;" [value]="itemAnswersB" (click)="obtRadioButtonValue(itemAnswersB, itemQuestionsB.ID_QUESTIONS, itemQuestionsB.ID_SECTION, 'B', 'B')">{{itemAnswersB.ANSWERS}}</mat-radio-button>
                </mat-radio-group>

              </mat-card-content>
            </mat-card>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-actions>
    </mat-card>

    <mat-card style="margin: 15px;">
      <mat-card-title>SECCION C - Interes Ocupacionales</mat-card-title>
      <mat-card-actions>
        <mat-accordion class="example-headers-align" *ngFor="let itemQuestionsC of _modelQuestionsResult.sectionCTypeB;let indexOfElement=index">
          <mat-expansion-panel style="margin: 15px;">
            <!-- expanded="true" -->
            <mat-expansion-panel-header>
              <mat-panel-title>{{itemQuestionsC.QUESTIONS}}</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card>
              <mat-card-content>

                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
                  <mat-radio-button class="example-radio-button" *ngFor="let itemAnswersC of itemQuestionsC.ANSWERS;" [value]="itemAnswersC" (click)="obtRadioButtonValue(itemAnswersC, itemQuestionsC.ID_QUESTIONS, itemQuestionsC.ID_SECTION, 'B', 'C')">{{itemAnswersC.ANSWERS}}</mat-radio-button>
                </mat-radio-group>

              </mat-card-content>
            </mat-card>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-actions>
    </mat-card>

    <mat-card style="margin: 15px;">
      <mat-card-title>SECCION D - Interes Ocupacionales</mat-card-title>
      <mat-card-actions>
        <mat-accordion class="example-headers-align" *ngFor="let itemQuestionsD of _modelQuestionsResult.sectionDTypeB;let indexOfElement=index">
          <mat-expansion-panel style="margin: 15px;">
            <!-- expanded="true" -->
            <mat-expansion-panel-header>
              <mat-panel-title>{{itemQuestionsD.QUESTIONS}}</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card>
              <mat-card-content>

                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
                  <mat-radio-button class="example-radio-button" *ngFor="let itemAnswersD of itemQuestionsD.ANSWERS;" [value]="itemAnswersD" (click)="obtRadioButtonValue(itemAnswersD, itemQuestionsD.ID_QUESTIONS, itemQuestionsD.ID_SECTION, 'B', 'D')">{{itemAnswersD.ANSWERS}}</mat-radio-button>
                </mat-radio-group>

              </mat-card-content>
            </mat-card>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-actions>
    </mat-card>

    <mat-card style="margin: 15px;">
      <mat-card-title>SECCION E - Interes Ocupacionales</mat-card-title>
      <mat-card-actions>
        <mat-accordion class="example-headers-align" *ngFor="let itemQuestionsE of _modelQuestionsResult.sectionETypeB;let indexOfElement=index">
          <mat-expansion-panel style="margin: 15px;">
            <!-- expanded="true" -->
            <mat-expansion-panel-header>
              <mat-panel-title>{{itemQuestionsE.QUESTIONS}}</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card>
              <mat-card-content>

                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
                  <mat-radio-button class="example-radio-button" *ngFor="let itemAnswersE of itemQuestionsE.ANSWERS;" [value]="itemAnswersE" (click)="obtRadioButtonValue(itemAnswersE, itemQuestionsE.ID_QUESTIONS, itemQuestionsE.ID_SECTION, 'B', 'E')">{{itemAnswersE.ANSWERS}}</mat-radio-button>
                </mat-radio-group>

              </mat-card-content>
            </mat-card>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-actions>
    </mat-card>

    <mat-card style="margin: 15px;">
      <mat-card-title>SECCION F - Interes Ocupacionales</mat-card-title>
      <mat-card-actions>
        <mat-accordion class="example-headers-align" *ngFor="let itemQuestionsF of _modelQuestionsResult.sectionFTypeB;let indexOfElement=index">
          <mat-expansion-panel style="margin: 15px;">
            <!-- expanded="true" -->
            <mat-expansion-panel-header>
              <mat-panel-title>{{itemQuestionsF.QUESTIONS}}</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card>
              <mat-card-content>

                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
                  <mat-radio-button class="example-radio-button" *ngFor="let itemAnswersF of itemQuestionsF.ANSWERS;" [value]="itemAnswersF" (click)="obtRadioButtonValue(itemAnswersF, itemQuestionsF.ID_QUESTIONS, itemQuestionsF.ID_SECTION, 'B', 'F')">{{itemAnswersF.ANSWERS}}</mat-radio-button>
                </mat-radio-group>

              </mat-card-content>
            </mat-card>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-actions>
    </mat-card>

    <mat-card style="margin: 15px;">
      <mat-card-title>SECCION G - Interes Ocupacionales</mat-card-title>
      <mat-card-actions>
        <mat-accordion class="example-headers-align" *ngFor="let itemQuestionsG of _modelQuestionsResult.sectionGTypeB;let indexOfElement=index">
          <mat-expansion-panel style="margin: 15px;">
            <!-- expanded="true" -->
            <mat-expansion-panel-header>
              <mat-panel-title>{{itemQuestionsG.QUESTIONS}}</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card>
              <mat-card-content>

                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
                  <mat-radio-button class="example-radio-button" *ngFor="let itemAnswersG of itemQuestionsG.ANSWERS;" [value]="itemAnswersG" (click)="obtRadioButtonValue(itemAnswersG, itemQuestionsG.ID_QUESTIONS, itemQuestionsG.ID_SECTION, 'B', 'G')">{{itemAnswersG.ANSWERS}}</mat-radio-button>
                </mat-radio-group>

              </mat-card-content>
            </mat-card>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-actions>
    </mat-card>

    <mat-card style="margin: 15px;">
      <mat-card-title>SECCION H - Interes Ocupacionales</mat-card-title>
      <mat-card-actions>
        <mat-accordion class="example-headers-align" *ngFor="let itemQuestionsH of _modelQuestionsResult.sectionHTypeB;let indexOfElement=index">
          <mat-expansion-panel style="margin: 15px;">
            <!-- expanded="true" -->
            <mat-expansion-panel-header>
              <mat-panel-title>{{itemQuestionsH.QUESTIONS}}</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card>
              <mat-card-content>

                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
                  <mat-radio-button class="example-radio-button" *ngFor="let itemAnswersH of itemQuestionsH.ANSWERS;" [value]="itemAnswersH" (click)="obtRadioButtonValue(itemAnswersH, itemQuestionsH.ID_QUESTIONS, itemQuestionsH.ID_SECTION, 'B', 'H')">{{itemAnswersH.ANSWERS}}</mat-radio-button>
                </mat-radio-group>

              </mat-card-content>
            </mat-card>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-actions>
    </mat-card>





    <button mat-button class="button-save" (click)="confirmationSaveTestVocational()">Terminar Test</button>

  </div>
</div>
