<div class="container">
  <div class="container-take-test">
    <div class="row">
      <div class="col-md-12">
        <div class="container-take-test-title"><p>Test Habilidades</p></div>
      </div>
      <div class="col-md-12">
        <div class="container-take-test-one">
          <p>1. Soy habil para comunicar lo que pienso efectivamente de forma escrita, es decir, sin errores ortograficos, ideas...a fin de que se entienda lo que desea expresar.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="container-take-test-two">
          <mat-card>
            <mat-card-content>
              <section class="example-section">
                <mat-checkbox class="example-margin" > Soy muy habil</mat-checkbox>
              </section>

              <section class="example-section">
                <mat-checkbox class="example-margin" > Soy habil</mat-checkbox>
              </section>

              <section class="example-section">
                <mat-checkbox class="example-margin" > Ni soy habil, ni no soy habil</mat-checkbox>
              </section>

              <section class="example-section">
                <mat-checkbox class="example-margin" > No soy habil</mat-checkbox>
              </section>

              <section class="example-section">
                <mat-checkbox class="example-margin" > No soy nada habil</mat-checkbox>
              </section>


            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
