.example-section{
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin{
  margin: 0 10px;
}


.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.container-take-test{
  margin:15px;
}

.button-save{
  text-align: center;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: #012d74;
  color: white;
  border-radius: 8px;
  box-shadow: 1px 2px 17px 15px #b7b7b740;
}


::-webkit-scrollbar{
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb:active{
  background-color: #999999;
}
::-webkit-scrollbar-track{
  background: #e1e1e1;
  border-radius: 5px;
}
::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active{
  background: #d4d4d4;
}
