<div class="container">

  <div class="container-take-test">

    <mat-card style="margin: 15px;">
      <mat-card-title>SECCION A - Habilidades Laborales</mat-card-title>
      <mat-card-actions>
        <mat-accordion class="example-headers-align" *ngFor="let itemQuestionsA of _modelQuestionsResult.sectionATypeA;let indexOfElement=index">
          <mat-expansion-panel style="margin: 15px;">
            <!-- expanded="true" -->
            <mat-expansion-panel-header>
              <mat-panel-title>{{itemQuestionsA.QUESTIONS}}</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card>
              <mat-card-content>

                <section *ngFor="let itemAnswersA of itemQuestionsA.ANSWERS; let i = index">
                  <mat-checkbox class="example-margin" [(ngModel)]="_modelQuestionsResult.sectionATypeA[indexOfElement].ANSWERS[i].CHECK" (click)="checkAnswersVerify(itemAnswersA, 'A', 'A',itemQuestionsA,!_modelQuestionsResult.sectionATypeA[indexOfElement].ANSWERS[i].CHECK, indexOfElement,i)">{{itemAnswersA.ANSWERS}}</mat-checkbox>
                  <!-- <mat-checkbox class="example-margin" (click)="checkAnswersVerify(itemAnswersA, 'A', 'A',itemQuestionsA,!_modelQuestionsResult.sectionATypeA[indexOfElement].ANSWERS[i].CHECK, indexOfElement,i)">{{itemAnswersA.ANSWERS}}</mat-checkbox> -->
                </section>

              </mat-card-content>
            </mat-card>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-actions>      
    </mat-card>

    <mat-card style="margin: 15px;">
      <mat-card-title>SECCION B - Habilidades Laborales</mat-card-title>
      <mat-card-actions>
        <mat-accordion class="example-headers-align" *ngFor="let itemQuestionsB of _modelQuestionsResult.sectionBTypeA;let indexOfElement=index">
          <mat-expansion-panel style="margin: 15px;">
            <!-- expanded="true" -->
            <mat-expansion-panel-header>
              <mat-panel-title>{{itemQuestionsB.QUESTIONS}}</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card>
              <mat-card-content>

                <section *ngFor="let itemAnswersB of itemQuestionsB.ANSWERS; let i = index">
                  <mat-checkbox class="example-margin"  (click)="checkAnswersVerify(itemAnswersB, 'A', 'B',itemQuestionsB,!itemAnswersB.CHECK, indexOfElement, i)">{{itemAnswersB.ANSWERS}}</mat-checkbox>
                </section>

              </mat-card-content>
            </mat-card>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-actions>      
    </mat-card>

    <mat-card style="margin: 15px;">
      <mat-card-title>SECCION C - Habilidades Laborales</mat-card-title>
      <mat-card-actions>
        <mat-accordion class="example-headers-align" *ngFor="let itemQuestionsC of _modelQuestionsResult.sectionCTypeA;let indexOfElement=index">
          <mat-expansion-panel style="margin: 15px;">
            <!-- expanded="true" -->
            <mat-expansion-panel-header>
              <mat-panel-title>{{itemQuestionsC.QUESTIONS}}</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card>
              <mat-card-content>

                <section *ngFor="let itemAnswersC of itemQuestionsC.ANSWERS; let i = index">
                  <mat-checkbox class="example-margin" (click)="checkAnswersVerify(itemAnswersC, 'A', 'A',itemQuestionsC,!itemAnswersC.CHECK, indexOfElement,i)">{{itemAnswersC.ANSWERS}}</mat-checkbox>
                </section>

              </mat-card-content>
            </mat-card>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-actions>      
    </mat-card>

    <mat-card style="margin: 15px;">
      <mat-card-title>SECCION D - Habilidades Laborales</mat-card-title>
      <mat-card-actions>
        <mat-accordion class="example-headers-align" *ngFor="let itemQuestionsD of _modelQuestionsResult.sectionDTypeA;let indexOfElement=index">
          <mat-expansion-panel style="margin: 15px;">
            <!-- expanded="true" -->
            <mat-expansion-panel-header>
              <mat-panel-title>{{itemQuestionsD.QUESTIONS}}</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card>
              <mat-card-content>

                <section *ngFor="let itemAnswersD of itemQuestionsD.ANSWERS; let i = index">
                  <mat-checkbox class="example-margin" (click)="checkAnswersVerify(itemAnswersD, 'A', 'A',itemQuestionsD,!itemAnswersD.CHECK, indexOfElement,i)">{{itemAnswersD.ANSWERS}}</mat-checkbox>
                </section>

              </mat-card-content>
            </mat-card>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-actions>      
    </mat-card>

    <mat-card style="margin: 15px;">
      <mat-card-title>SECCION E - Habilidades Laborales</mat-card-title>
      <mat-card-actions>
        <mat-accordion class="example-headers-align" *ngFor="let itemQuestionsE of _modelQuestionsResult.sectionETypeA;let indexOfElement=index">
          <mat-expansion-panel style="margin: 15px;">
            <!-- expanded="true" -->
            <mat-expansion-panel-header>
              <mat-panel-title>{{itemQuestionsE.QUESTIONS}}</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card>
              <mat-card-content>

                <section *ngFor="let itemAnswersE of itemQuestionsE.ANSWERS; let i = index">
                  <mat-checkbox class="example-margin" (click)="checkAnswersVerify(itemAnswersE, 'A', 'A',itemQuestionsE,!itemAnswersE.CHECK, indexOfElement,i)">{{itemAnswersE.ANSWERS}}</mat-checkbox>
                </section>

              </mat-card-content>
            </mat-card>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-actions>      
    </mat-card>

    <mat-card style="margin: 15px;">
      <mat-card-title>SECCION F - Habilidades Laborales</mat-card-title>
      <mat-card-actions>
        <mat-accordion class="example-headers-align" *ngFor="let itemQuestionsF of _modelQuestionsResult.sectionFTypeA;let indexOfElement=index">
          <mat-expansion-panel style="margin: 15px;">
            <!-- expanded="true" -->
            <mat-expansion-panel-header>
              <mat-panel-title>{{itemQuestionsF.QUESTIONS}}</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card>
              <mat-card-content>

                <section *ngFor="let itemAnswersF of itemQuestionsF.ANSWERS; let i = index">
                  <mat-checkbox class="example-margin" (click)="checkAnswersVerify(itemAnswersF, 'A', 'A',itemQuestionsF,!itemAnswersF.CHECK, indexOfElement,i)">{{itemAnswersF.ANSWERS}}</mat-checkbox>
                </section>

              </mat-card-content>
            </mat-card>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-actions>      
    </mat-card>

    <mat-card style="margin: 15px;">
      <mat-card-title>SECCION G - Habilidades Laborales</mat-card-title>
      <mat-card-actions>
        <mat-accordion class="example-headers-align" *ngFor="let itemQuestionsG of _modelQuestionsResult.sectionGTypeA;let indexOfElement=index">
          <mat-expansion-panel style="margin: 15px;">
            <!-- expanded="true" -->
            <mat-expansion-panel-header>
              <mat-panel-title>{{itemQuestionsG.QUESTIONS}}</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card>
              <mat-card-content>

                <section *ngFor="let itemAnswersG of itemQuestionsG.ANSWERS; let i = index">
                  <mat-checkbox class="example-margin" (click)="checkAnswersVerify(itemAnswersG, 'A', 'A',itemQuestionsG,!itemAnswersG.CHECK, indexOfElement,i)">{{itemAnswersG.ANSWERS}}</mat-checkbox>
                </section>

              </mat-card-content>
            </mat-card>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-actions>      
    </mat-card>

    <mat-card style="margin: 15px;">
      <mat-card-title>SECCION H - Habilidades Laborales</mat-card-title>
      <mat-card-actions>
        <mat-accordion class="example-headers-align" *ngFor="let itemQuestionsH of _modelQuestionsResult.sectionHTypeA;let indexOfElement=index">
          <mat-expansion-panel style="margin: 15px;">
            <!-- expanded="true" -->
            <mat-expansion-panel-header>
              <mat-panel-title>{{itemQuestionsH.QUESTIONS}}</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card>
              <mat-card-content>

                <section *ngFor="let itemAnswersH of itemQuestionsH.ANSWERS; let i = index">
                  <mat-checkbox class="example-margin" (click)="checkAnswersVerify(itemAnswersH, 'A', 'A',itemQuestionsH,!itemAnswersH.CHECK, indexOfElement,i)">{{itemAnswersH.ANSWERS}}</mat-checkbox>
                </section>

              </mat-card-content>
            </mat-card>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-actions>      
    </mat-card>



    <mat-card style="margin: 15px;">
      <mat-card-title>SECCION A - Interes Ocupacionales</mat-card-title>
      <mat-card-actions>
        <mat-accordion class="example-headers-align" *ngFor="let itemQuestionsA of _modelQuestionsResult.sectionATypeB;let indexOfElement=index">
          <mat-expansion-panel style="margin: 15px;">
            <!-- expanded="true" -->
            <mat-expansion-panel-header>
              <mat-panel-title>{{itemQuestionsA.QUESTIONS}}</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card>
              <mat-card-content>

                <section *ngFor="let itemAnswersA of itemQuestionsA.ANSWERS; let i = index">
                  <mat-checkbox class="example-margin" (click)="checkAnswersVerify(itemAnswersA, 'A', 'A',itemQuestionsA,!itemAnswersA.CHECK, indexOfElement,i)">{{itemAnswersA.ANSWERS}}</mat-checkbox>
                </section>

              </mat-card-content>
            </mat-card>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-actions>      
    </mat-card>

    <mat-card style="margin: 15px;">
      <mat-card-title>SECCION B - Interes Ocupacionales</mat-card-title>
      <mat-card-actions>
        <mat-accordion class="example-headers-align" *ngFor="let itemQuestionsB of _modelQuestionsResult.sectionBTypeB;let indexOfElement=index">
          <mat-expansion-panel style="margin: 15px;">
            <!-- expanded="true" -->
            <mat-expansion-panel-header>
              <mat-panel-title>{{itemQuestionsB.QUESTIONS}}</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card>
              <mat-card-content>

                <section *ngFor="let itemAnswersB of itemQuestionsB.ANSWERS; let i = index">
                  <mat-checkbox class="example-margin" (click)="checkAnswersVerify(itemAnswersB, 'A', 'A',itemQuestionsB,!itemAnswersB.CHECK, indexOfElement,i)">{{itemAnswersB.ANSWERS}}</mat-checkbox>
                </section>

              </mat-card-content>
            </mat-card>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-actions>      
    </mat-card>

    <mat-card style="margin: 15px;">
      <mat-card-title>SECCION C - Interes Ocupacionales</mat-card-title>
      <mat-card-actions>
        <mat-accordion class="example-headers-align" *ngFor="let itemQuestionsC of _modelQuestionsResult.sectionCTypeB;let indexOfElement=index">
          <mat-expansion-panel style="margin: 15px;">
            <!-- expanded="true" -->
            <mat-expansion-panel-header>
              <mat-panel-title>{{itemQuestionsC.QUESTIONS}}</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card>
              <mat-card-content>

                <section *ngFor="let itemAnswersC of itemQuestionsC.ANSWERS; let i = index">
                  <mat-checkbox class="example-margin" (click)="checkAnswersVerify(itemAnswersC, 'A', 'A',itemQuestionsC,!itemAnswersC.CHECK, indexOfElement,i)">{{itemAnswersC.ANSWERS}}</mat-checkbox>
                </section>

              </mat-card-content>
            </mat-card>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-actions>      
    </mat-card>

    <mat-card style="margin: 15px;">
      <mat-card-title>SECCION D - Interes Ocupacionales</mat-card-title>
      <mat-card-actions>
        <mat-accordion class="example-headers-align" *ngFor="let itemQuestionsD of _modelQuestionsResult.sectionDTypeB;let indexOfElement=index">
          <mat-expansion-panel style="margin: 15px;">
            <!-- expanded="true" -->
            <mat-expansion-panel-header>
              <mat-panel-title>{{itemQuestionsD.QUESTIONS}}</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card>
              <mat-card-content>

                <section *ngFor="let itemAnswersD of itemQuestionsD.ANSWERS; let i = index">
                  <mat-checkbox class="example-margin" (click)="checkAnswersVerify(itemAnswersD, 'A', 'A',itemQuestionsD,!itemAnswersD.CHECK, indexOfElement,i)">{{itemAnswersD.ANSWERS}}</mat-checkbox>
                </section>

              </mat-card-content>
            </mat-card>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-actions>      
    </mat-card>

    <mat-card style="margin: 15px;">
      <mat-card-title>SECCION E - Interes Ocupacionales</mat-card-title>
      <mat-card-actions>
        <mat-accordion class="example-headers-align" *ngFor="let itemQuestionsE of _modelQuestionsResult.sectionETypeB;let indexOfElement=index">
          <mat-expansion-panel style="margin: 15px;">
            <!-- expanded="true" -->
            <mat-expansion-panel-header>
              <mat-panel-title>{{itemQuestionsE.QUESTIONS}}</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card>
              <mat-card-content>

                <section *ngFor="let itemAnswersE of itemQuestionsE.ANSWERS; let i = index">
                  <mat-checkbox class="example-margin"  (click)="checkAnswersVerify(itemAnswersE, 'A', 'A',itemQuestionsE,!itemAnswersE.CHECK, indexOfElement,i)">{{itemAnswersE.ANSWERS}}</mat-checkbox>
                </section>

              </mat-card-content>
            </mat-card>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-actions>      
    </mat-card>

    <mat-card style="margin: 15px;">
      <mat-card-title>SECCION F - Interes Ocupacionales</mat-card-title>
      <mat-card-actions>
        <mat-accordion class="example-headers-align" *ngFor="let itemQuestionsF of _modelQuestionsResult.sectionFTypeB;let indexOfElement=index">
          <mat-expansion-panel style="margin: 15px;">
            <!-- expanded="true" -->
            <mat-expansion-panel-header>
              <mat-panel-title>{{itemQuestionsF.QUESTIONS}}</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card>
              <mat-card-content>

                <section *ngFor="let itemAnswersF of itemQuestionsF.ANSWERS; let i = index">
                  <mat-checkbox class="example-margin" (click)="checkAnswersVerify(itemAnswersF, 'A', 'A',itemQuestionsF,!itemAnswersF.CHECK, indexOfElement,i)">{{itemAnswersF.ANSWERS}}</mat-checkbox>
                </section>

              </mat-card-content>
            </mat-card>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-actions>      
    </mat-card>

    <mat-card style="margin: 15px;">
      <mat-card-title>SECCION G - Interes Ocupacionales</mat-card-title>
      <mat-card-actions>
        <mat-accordion class="example-headers-align" *ngFor="let itemQuestionsG of _modelQuestionsResult.sectionGTypeB;let indexOfElement=index">
          <mat-expansion-panel style="margin: 15px;">
            <!-- expanded="true" -->
            <mat-expansion-panel-header>
              <mat-panel-title>{{itemQuestionsG.QUESTIONS}}</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card>
              <mat-card-content>

                <section *ngFor="let itemAnswersG of itemQuestionsG.ANSWERS; let i = index">
                  <mat-checkbox class="example-margin" (click)="checkAnswersVerify(itemAnswersG, 'A', 'A',itemQuestionsG,!itemAnswersG.CHECK, indexOfElement,i)">{{itemAnswersG.ANSWERS}}</mat-checkbox>
                </section>

              </mat-card-content>
            </mat-card>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-actions>      
    </mat-card>

    <mat-card style="margin: 15px;">
      <mat-card-title>SECCION H - Interes Ocupacionales</mat-card-title>
      <mat-card-actions>
        <mat-accordion class="example-headers-align" *ngFor="let itemQuestionsH of _modelQuestionsResult.sectionHTypeB;let indexOfElement=index">
          <mat-expansion-panel style="margin: 15px;">
            <!-- expanded="true" -->
            <mat-expansion-panel-header>
              <mat-panel-title>{{itemQuestionsH.QUESTIONS}}</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card>
              <mat-card-content>

                <section *ngFor="let itemAnswersH of itemQuestionsH.ANSWERS; let i = index">
                  <mat-checkbox class="example-margin" (click)="checkAnswersVerify(itemAnswersH, 'A', 'A',itemQuestionsH,!itemAnswersH.CHECK, indexOfElement,i)">{{itemAnswersH.ANSWERS}}</mat-checkbox>
                </section>

              </mat-card-content>
            </mat-card>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-actions>      
    </mat-card>





    <button mat-button class="button-save" (click)="confirmationSaveTestVocational()">Terminar Test</button>

  </div>
</div>
