/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: linear-gradient(90deg, rgba(2,0,36,0.5886729691876751) 0%, rgba(1,45,116,0.5326505602240896) 35%, rgba(0,212,255,0.4318102240896359) 100%), url("assets/Images/fondo_1.png");
}

::-webkit-scrollbar{
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb:active{
  background-color: #999999;
}
::-webkit-scrollbar-track{
  background: #e1e1e1;
  border-radius: 5px;
}
::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active{
  background: #d4d4d4;
}
